In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('Final URL report.xlsx', header=1)

In [3]:
df.dropna(inplace=True)

In [4]:
df['URL Clean'] = df['Final URL'].apply(lambda x: x.split('?')[0])

# Helper functions

In [5]:
def parseUrl (url):
    arr = url.split('/')
    if len(arr[len(arr)-1]) == 1:
        return arr[len(arr)-2]
    else:
        return arr[len(arr)-1]

In [6]:
def categorise (url):
    if '-ttd' in url:
        return 'TTD'
    elif '-t' in url:
        return 'Recommendation'
    elif '-g' in url:
        return 'Group/Category'
    elif '-a' in url:
        return 'Attraction'
    elif '-' not in url:
        return 'TTD'
    else:
        return 'Product'

In [7]:
def parseCat (str):
    if type(str) != float:
        arr = str.split('\n')
        return arr[0]
    else:
        return "No Cat"

# End of functions

In [8]:
df['URL Cat'] = df['URL Clean'].apply(parseUrl)

In [9]:
df['Category'] = df['URL Cat'].apply(categorise)

In [10]:
df['Destination'] = df['URL Cat'].apply(lambda x: x.split('-')[0])

In [11]:
df['Attraction'] = df[df['Category'] == 'Attraction']['URL Cat'].apply(lambda x: x.split('-')[1])

In [12]:
df['Conversions'] = df['Conversions'].apply(lambda x: int(x.split('.')[0].replace(',','')))

In [68]:
df[['Conversions', 'Destination']][df['Conversions'] > 10]

       Conversions     Destination
63              19            d357
89              22            d737
122             14            d357
163             34            d512
179             13            d739
470             53  www.viator.com
491             52            d479
532           4562  www.viator.com
557             11            d511
684             17            d684
792             40  www.viator.com
832             11            d463
856             27            d566
879             15            d731
892             12             d36
919             12            d562
991             19             d56
1039            33            d357
1114            12            d333
1151            17            d947
1155            28            d511
1176            15            d737
1184            16            d458
1252            21            d512
1287            21            d675
1371            19            d503
1384            17            d562
1390            12            d672
1441            21  www.viator.com
1455            20  www.viator.com
...            ...             ...
10479           34            d479
10489           15            d628
10511           61  www.viator.com
10522           51            d479
10524           15            d973
10538           19  www.viator.com
10558           13            d332
10565           20            d334
10609           26  www.viator.com
10612           11            d675
10640           14            d905
10802           11            d479
10804           22            d334
10974           14            d334
11022           21            d522
11102           76            d479
11228           26  www.viator.com
11244           13            d794
11271           11            d675
11290           17            d479
11374           27            d651
11377          121  www.viator.com
11433           13            d479
11490           11            d815
11578           13            d737
11585           13            d479
11602           23            d529
11614           41  www.viator.com
11626           11  www.viator.com
11653           43            d525

[282 rows x 2 columns]

In [99]:
df[df['Category'] == 'Attraction'][['Conversions','Attraction']].groupby(by='Attraction').sum().sort_values(by='Conversions', ascending=False)

            Conversions
Attraction
a89                 494
a710                264
a576                235
a86                 190
a73                 170
a701                165
a727                130
a783                120
a113                111
a845                110
a4876               104
a112                 99
a7                   89
a1400                83
a88                  77
a90                  75
a22115               75
a2068                72
a706                 65
a8969                64
a1189                62
a38                  61
a590                 61
a1318                55
a84                  53
a668                 47
a835                 47
a106                 47
a78                  46
a290                 46
...                 ...
a4663                 1
a402                  1
a1136                 1
a6603                 1
a1566                 1
a12407                1
a20815                1
a12903                1
a15306                1
a1532                 1
a15539                1
a12593                1
a342                  1
a2001                 1
a12640                1
a1053                 1
a12702                1
a16590                1
a15898                1
a712                  1
a15955                1
a3742                 1
a16209                1
a379                  1
a1184                 1
a16493                1
a16571                1
a12757                1
a1276                 1
a6406                 1

[427 rows x 1 columns]

In [111]:
something = df[df['Category'] == 'Attraction'][['Conversions','Destination','Attraction']].pivot_table(values='Conversions', index=['Destination','Attraction'], aggfunc='sum')

In [120]:
summary = pd.DataFrame(data=something)

In [45]:
df_attractions = df[df['Category'] == 'Attraction']

In [46]:
df_attractions.head()

,Final URL,Clicks,Impressions,CTR,Avg. CPC,Cost,Avg. position,Conversions,Cost / conv.,Conv. rate,All conv.,URL Clean,URL Cat,Category,Destination,Attraction
3,https://www.viator.com/Cancun-attractions/Tulu...,26,244,10.66%,0.74,19.17,2.7,1,19.17,3.85%,1.0,https://www.viator.com/Cancun-attractions/Tulu...,d631-a79,Attraction,d631,a79
9,https://www.viator.com/Tokyo-attractions/Mt-Fu...,12,142,8.45%,0.73,8.76,3.4,2,4.38,16.67%,2.0,https://www.viator.com/Tokyo-attractions/Mt-Fu...,d334-a86,Attraction,d334,a86
10,https://www.viator.com/London-attractions/Lond...,66,240,27.50%,0.57,37.34,1.4,1,37.34,1.52%,4.0,https://www.viator.com/London-attractions/Lond...,d737-a1400,Attraction,d737,a1400
16,https://www.viator.com/Kyoto-attractions/Kyoto...,24,260,9.23%,0.36,8.60,1.7,2,4.30,8.33%,4.0,https://www.viator.com/Kyoto-attractions/Kyoto...,d332-a194,Attraction,d332,a194
18,https://www.viator.com/Florence-attractions/Uf...,8,91,8.79%,1.94,15.51,3.0,1,15.51,12.50%,1.0,https://www.viator.com/Florence-attractions/Uf...,d519-a117,Attraction,d519,a117

In [49]:
df_attractions = df_attractions[['URL Clean', 'Destination', 'Attraction', 'Conversions']].sort_values('Conversions', ascending=False)

In [61]:
df_attractions.drop('Conversions', axis=1).to_excel('attractions.xlsx', sheet_name='list')