In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
df = pd.read_csv('daily_performance.csv', names=['Day', 'AdGroup', 'Campaign', 'Device', 'Revenue', 'Conversions', 'Cost', 'Impressions', 'Clicks'])

In [41]:
df.head()

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks
0,2016-05-24,Glasgow Tours,UK - Scotland - !General,3,0.0,0,10.0,270,15
1,2016-07-17,Copenhagen Tours [rlsa],Europe - Northern,1,0.0,0,2.0,93,5
2,2016-08-01,Versailles Tours (viator),France - Paris - Versailles,1,0.0,0,1.0,3,1
3,2016-09-07,SF Bus Hoho (big bus),US - CA - San Francisco,1,0.0,0,13.0,116,10
4,2016-09-12,Las Vegas Construction Playground,US - Las Vegas,3,0.0,0,0.0,13,1

In [42]:
df[df['Campaign'].apply(lambda x: 'Brand' in x)].head()

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks
3288,2016-05-18,Viator [misspellings],0 - Viator Brand,3,396.00,6,69.00,782,92
5443,2016-07-17,Viator Promo Codes,0 - Viator Brand,3,83.00,1,24.00,171,12
5916,2016-10-24,Viator,0 - Viator Brand,3,1443.53,20,62.00,1034,363
11333,2017-01-14,Viator,0 - Viator Brand,3,1219.92,25,141.61,1387,592
11584,2016-07-29,Viator Promo Codes,0 - Viator Brand,1,726.00,7,77.00,641,40

In [43]:
def catCamp(camp):
    if 'Brand' in camp:
        return 'Brand'
    elif 'DSA' in camp:
        return 'DSA'
    else: return 'Generic'

In [49]:
def catAg(ag):
    if 'viator' in ag:
        return 'Brand'

In [45]:
df['Type'] = df['AdGroup'].apply(catAg)

In [46]:
df['Type'] = df['Campaign'].apply(catCamp)

In [47]:
df[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand')].head(25)

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks,Type
2,2016-08-01,Versailles Tours (viator),France - Paris - Versailles,1,0.00,0,1.00,3,1,Generic
867,2016-07-19,Australia Tours (viator),ANZ - Aus - !General,3,0.00,0,0.00,3,2,Generic
1325,2016-11-06,Australia Tours (viator),ANZ - Aus - !General,1,183.14,2,1.00,27,18,Generic
1759,2017-03-08,Greece Tours (viator),Greece - !General,3,0.00,0,0.01,3,1,Generic
3577,2016-12-14,New York Tours (viator),US - New York,2,22.18,2,12.09,60,36,Generic
3580,2016-09-26,Germany Tours (viator),Germany - !General,2,0.00,0,0.00,1,1,Generic
5021,2017-02-20,Versailles Tours (viator),France - Paris - Versailles,3,0.00,0,0.13,2,1,Generic
5184,2016-11-26,Versailles Tours (viator),France - Paris - Versailles,2,0.00,0,0.94,6,5,Generic
5990,2016-06-01,Germany Tours (viator),Germany - !General,1,0.00,0,0.00,3,1,Generic
6848,2016-11-03,Italy Tours (viator),Italy - !General,1,0.00,0,3.00,15,11,Generic
7250,2017-03-17,Spain Tours (viator),Spain - !General,1,41.40,1,0.65,17,8,Generic
8167,2017-04-04,Germany Tours (viator),Germany - !General,3,0.00,0,2.28,4,5,Generic
10008,2017-03-20,Greece Tours (viator),Greece - !General,1,0.00,0,1.49,14,6,Generic
10364,2016-09-13,Dubai Tours (viator),MEA - Dubai,3,0.00,0,1.00,10,6,Generic
10440,2017-02-06,New York Tours (viator),US - New York,3,26.40,1,4.74,15,15,Generic
10806,2017-02-24,Germany Tours (viator),Germany - !General,2,0.00,0,0.00,1,0,Generic
10881,2016-09-07,Versailles Tours (viator),France - Paris - Versailles,3,0.00,0,3.00,4,4,Generic
11378,2016-06-25,Italy Tours (viator),Italy - !General,3,0.00,0,0.00,3,1,Generic
11598,2016-04-11,New York Tours (viator),US - New York,3,30.00,1,11.00,24,19,Generic
12039,2016-08-24,Germany Tours (viator),Germany - !General,1,0.00,0,0.00,3,0,Generic
12076,2016-11-12,New York Tours (viator),US - New York,1,330.92,6,4.00,57,26,Generic
12990,2016-08-15,Greece Tours (viator),Greece - !General,2,0.00,0,0.00,9,8,Generic
13602,2017-02-18,New York Tours (viator),US - New York,1,0.00,0,9.01,34,17,Generic
17296,2017-04-15,Spain Tours (viator),Spain - !General,1,0.00,0,0.19,15,1,Generic
17712,2016-05-26,Spain Tours (viator),Spain - !General,2,0.00,0,0.00,5,2,Generic

In [55]:
df[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand')]

Empty DataFrame
Columns: [Day, AdGroup, Campaign, Device, Revenue, Conversions, Cost, Impressions, Clicks, Type]
Index: []

In [53]:
df.loc[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand'), 'Type'] = 'Brand'

In [56]:
df.head(5)

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks,Type
0,2016-05-24,Glasgow Tours,UK - Scotland - !General,3,0.0,0,10.0,270,15,Generic
1,2016-07-17,Copenhagen Tours [rlsa],Europe - Northern,1,0.0,0,2.0,93,5,Generic
2,2016-08-01,Versailles Tours (viator),France - Paris - Versailles,1,0.0,0,1.0,3,1,Brand
3,2016-09-07,SF Bus Hoho (big bus),US - CA - San Francisco,1,0.0,0,13.0,116,10,Generic
4,2016-09-12,Las Vegas Construction Playground,US - Las Vegas,3,0.0,0,0.0,13,1,Generic

In [60]:
df2 = df[['Day', 'Revenue', 'Conversions', 'Cost', 'Impressions', 'Clicks', 'Type']].groupby(by=['Type', 'Day']).sum()

In [61]:
df2.to_excel('Output.xlsx')

In [63]:
df2.reset_index()

,Type,Day,Revenue,Conversions,Cost,Impressions,Clicks
0,Brand,2016-04-01,18405.00,242,1610.00,18761,3755
1,Brand,2016-04-02,17150.00,270,1512.00,18540,3770
2,Brand,2016-04-03,26235.00,335,1888.00,22809,4735
3,Brand,2016-04-04,19392.00,312,2055.00,23062,4890
4,Brand,2016-04-05,19949.00,285,1794.00,22250,4398
5,Brand,2016-04-06,16716.00,258,1778.00,22117,4317
6,Brand,2016-04-07,19432.00,314,1753.00,21309,4215
7,Brand,2016-04-08,15590.00,263,1701.00,19283,3945
8,Brand,2016-04-09,19815.00,336,1729.00,19151,3991
9,Brand,2016-04-10,22395.00,388,1872.00,22843,4649
10,Brand,2016-04-11,20157.00,308,2012.00,22980,4687
11,Brand,2016-04-12,21568.00,314,1865.00,22518,4495
12,Brand,2016-04-13,20224.00,293,1895.00,21609,4205
13,Brand,2016-04-14,18080.00,289,1764.00,20897,4110
14,Brand,2016-04-15,17168.00,268,1500.00,19432,3776
15,Brand,2016-04-16,20766.00,270,1582.00,18896,4020
16,Brand,2016-04-17,28596.00,402,1809.00,22243,4505
17,Brand,2016-04-18,20901.00,331,1926.00,23926,4571
18,Brand,2016-04-19,19050.00,309,1847.00,22807,4510
19,Brand,2016-04-20,19273.00,287,1711.00,22174,4226
20,Brand,2016-04-21,19049.00,304,1648.00,21439,4077
21,Brand,2016-04-22,16616.00,263,1466.00,19705,3794
22,Brand,2016-04-23,19914.00,306,1406.00,19424,3903
23,Brand,2016-04-24,27334.00,426,1738.00,23259,4646
24,Brand,2016-04-25,21016.00,378,1947.00,24183,4947
25,Brand,2016-04-26,21171.00,308,1895.00,23829,4617
26,Brand,2016-04-27,17259.00,292,1676.00,23237,4354
27,Brand,2016-04-28,17884.00,292,1698.00,21859,4152
28,Brand,2016-04-29,18846.00,297,1535.00,20203,3935
29,Brand,2016-04-30,25378.00,330,1565.00,19767,3863
...,...,...,...,...,...,...,...
1122,Generic,2017-03-21,45971.88,852,27274.44,594617,38146
1123,Generic,2017-03-22,41558.45,843,38586.85,748496,47795
1124,Generic,2017-03-23,40347.17,817,40244.08,765992,48785
1125,Generic,2017-03-24,39616.89,805,36971.99,627648,42962
1126,Generic,2017-03-25,51661.36,955,37829.02,571690,42301
1127,Generic,2017-03-26,66609.10,1194,49105.81,726490,51823
1128,Generic,2017-03-27,50376.70,973,50738.96,774464,53037
1129,Generic,2017-03-28,50354.27,983,45596.58,709786,48883
1130,Generic,2017-03-29,47264.60,922,38619.17,620481,43654
1131,Generic,2017-03-30,46467.03,871,34304.65,582225,39999
1132,Generic,2017-03-31,47179.85,899,30596.41,506222,35294
1133,Generic,2017-04-01,49716.95,951,33711.23,544199,38283
1134,Generic,2017-04-02,69649.25,1249,41174.43,649161,44901
1135,Generic,2017-04-03,57621.33,1064,41170.84,661401,45524
1136,Generic,2017-04-04,53862.57,1079,35089.27,579685,40644
1137,Generic,2017-04-05,44316.16,946,32691.13,550200,38391
1138,Generic,2017-04-06,49687.94,984,32497.81,529646,37299
1139,Generic,2017-04-07,44205.35,853,30936.55,487719,34746
1140,Generic,2017-04-08,50832.50,954,30287.45,479021,34747
1141,Generic,2017-04-09,61950.50,1150,38150.49,593821,42217
1142,Generic,2017-04-10,46286.35,1002,35813.89,585243,40752
1143,Generic,2017-04-11,49410.59,931,29852.99,502933,35770
1144,Generic,2017-04-12,44817.66,884,26799.48,450176,32511
1145,Generic,2017-04-13,40704.11,867,30292.93,489243,34780
1146,Generic,2017-04-14,41641.11,849,29138.67,467809,33704
1147,Generic,2017-04-15,42331.75,833,26083.62,422440,29943
1148,Generic,2017-04-16,48782.39,959,31277.77,497432,35004
1149,Generic,2017-04-17,46883.93,963,31679.67,523942,37261
1150,Generic,2017-04-18,46357.71,887,30386.88,497691,35501
1151,Generic,2017-04-19,37533.84,727,28520.32,490108,34862